.row {
  width: 100%;
}

.column {
  float: center
  width: 100%;
}

.column2 {
  float: center;
  width: 100%;

}

.rainbow {

 -webkit-animation: rainbow 3s infinite;


 -ms-animation: rainbow 3s infinite;


 animation: rainbow 3s infinite;
}


@-webkit-keyframes rainbow{
    20%{color: red;}
    80%{color: blue;}

}

@-ms-keyframes rainbow{
    20%{color: red;}
    80%{color: blue;}
}


@keyframes rainbow{
    5%{color: red;}
    85%{color: blue;}
}

.dailyVersesWrapper a
{
    color:#000;
    font-weight:bold;
}

.dailyVerses.linkToWebsite a
{
    opacity:0.8;
    font-size:21px;
    text-decoration:none;
    
}
